#top {
height: 100px;
line-height:50px;
text-align:center;
}
#top span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
#left {
    width: 30%;      
}
#middle {
    width: 40%;
}
#right {
    width:30%;
}